---
import DropdownMenu from "./DropdownMenu";
import HeaderLink from "./HeaderLink.astro";
import { IoLogoGithub } from "react-icons/io5/index.js";
import ThemeToggle from "./ThemeToggle";
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { POST_TAGS } from "../consts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { pathname } = Astro.url;
const localeTags = t("post.tags") as { [key: string]: string };

const langs = Object.entries(languages).map(([locale, label]) => ({
  path: `${pathname.replace(`/${lang}/`, `/${locale}/`)}`,
  text: label,
}));

const tags = Object.keys(POST_TAGS).map((t) => ({
  path: `/${lang}/categories/${t.toLowerCase()}`,
  text: localeTags[t.toLowerCase()] || t,
}));
---

<header
  class="w-full bg-neutral-50 dark:bg-zinc-900 transition-colors fixed z-20 p-3"
>
  <nav class="max-w-2xl flex items-center justify-between h-[50px] mx-auto">
    <div>
      <HeaderLink class="text-sm md:text-base" href={`/${lang}/`}>
        🧉 Joaquin Franco
      </HeaderLink>
      <HeaderLink
        class="hidden md:inline-flex"
        href="https://github.com/joafran"
        target="_blank"
      >
        <IoLogoGithub />
        {t("nav.source")}
      </HeaderLink>
    </div>
    <div class="flex items-center gap-3">
      <ThemeToggle client:visible />
      <DropdownMenu client:visible langIcon items={langs} />
      <DropdownMenu client:visible items={tags} title="Tags" />
    </div>
  </nav>
</header>
