---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import { languages } from "../../i18n/ui";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { LanguageType, useTranslations } from "../../i18n/utils";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as LanguageType);
const posts = await getCollection("posts", ({ id }) => id.startsWith(lang!));
---

<BaseLayout>
  <div class="flex items-center justify-between mb-4">
    <div class="md:max-w-md">
      <h3 class="text-inherit text-xl mb-1">
        {t("home.hello")}
        <span class="font-semibold">Joaquin</span>
      </h3>
      <p class="text-lg">
        {t("home.welcome")}
        <br />
        {t("home.discover")}
      </p>
    </div>
    <div class="hidden md:block aspect-square max-w-sm">
      <img src="/home-hero.svg" />
    </div>
  </div>
  <section>
    <p class="uppercase font-semibold mb-4">{t("home.latest")}</p>
    {
      posts.map((post) => (
        <Card
          href={`/${lang}/posts/${post.slug}/`}
          description={post.data.description}
          img={post.data.heroImage}
          tags={post.data.tags}
          title={post.data.title}
        />
      ))
    }
  </section>
</BaseLayout>
