---
import BaseLayout from "./BaseLayout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import { LanguageType, useTranslations } from "../i18n/utils";

export interface Props {
  category: string;
}
const { lang } = Astro.params;
const t = useTranslations(lang as LanguageType);
const localeTags = t("post.tags") as { [key: string]: string };
const { category } = Astro.props;
const posts = await getCollection(
  "posts",
  (post) => post.id.startsWith(lang!) && post.data.tags.includes(category)
);
---

<BaseLayout>
  <div>
    <h4 class="text-xl uppercase font-bold mb-5 leading-6 text-inherit">
      {localeTags[category.toLowerCase()]}
    </h4>
    <hr />
    {
      posts.map((post) => (
        <Card
          href={`/${lang}/posts/${post.slug}/`}
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          img={post.data.heroImage}
        />
      ))
    }
  </div>
</BaseLayout>
